<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongodb" type="PTrampert.MongoDb.Configuration.MongoConfigurationSection, PTrampert.MongoDb.Configuration" />
    <section name="mongodbAdv" type="PTrampert.MongoDb.Configuration.AdvancedMongoConfigSection, PTrampert.MongoDb.Configuration"/>
  </configSections>
  <mongodb connectionString="mongodb://localhost/?w=majority" databaseName="testdb"/>
  <mongodbAdv username="tester" password="asdfasdf" databaseName="somedb">
    <hosts>
      <host name="remote1"/>
      <host name="remote2" port="222"/>
    </hosts>
    <connectionProperties>
      <clear/>
      <add name="w" value="majority"/>
      <add name="j" value="1"/>
    </connectionProperties>
  </mongodbAdv>
</configuration>