<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongodb" type="RxnLog.Persistance.MongoDb.Configuration.MongoConfigurationSection, RxnLog.Persistance.MongoDb" />
  </configSections>
  <mongodb connectionString="mongodb://localhost/?w=majority" databaseName="testdb"/>
</configuration>