<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongodb" type="PTrampert.MongoDb.Configuration.MongoConfigurationSection, PTrampert.MongoDb.Configuration" />
    <section name="mongodbAdv" type="PTrampert.MongoDb.Configuration.AdvancedMongoConfigSection, PTrampert.MongoDb.Configuration"/>
  </configSections>
  <mongodb connectionString="mongodb://localhost/?w=majority" databaseName="testdb"/>
  <mongodbAdv >
    
  </mongodbAdv>
</configuration>